body {
    background-color: blanchedalmond;
    font-family: 'inter';
}


#titulo {
    padding: 10px;
    text-align: center;
    margin: 60px 20px 20px;
}

.container {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-content: flex-start;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 600px;
}

button {
    margin-top: 20px;
    width: auto;
    padding: 8px 8px;
    flex: 0 0 auto;
    background-color: rgb(220, 220, 218);
    border-radius: 10px;
    outline-color: rgb(238, 221, 200);
    font-size: small;
    font-weight: bold;
}

input {
    width: auto;
    border-radius: 10px;
    outline: none;
    font-size: medium;
    padding: 8px;
    background-color: rgb(232, 214, 191);
}
